
<section th:insert="componentes/plantilla :: plantilla">

<title th:fragment="titulo">INICIO</title>

	<div class="container" th:fragment="content">
        
            <h1 th:insert="componentes/plantilla :: subtema" th:fragment="tema"><strong> SISTEMA DE INVENTARIO Y
				FACTURACI&Oacute;N</strong>
            </h1>
               <div class="container">
			<div id="myCarousel" class="carousel slide" data-ride="carousel"
				style="width: 75%; margin-left: 75px">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div id="carouselExampleIndicators" class="carousel slide"
					data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0"
							class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner container mt-5" style="margin-left: 60px;">
						<div class="carousel-item active">
							<img class="d-block w-100" th:src="@{/img/img.jpg}"
								alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" th:src="@{/img/img2.jpg}"
								alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" th:src="@{/img/img3.jpg}"
								alt="Third slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" th:src="@{/img/img4.jpg}"
								alt="Third slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" th:src="@{/img/img5.png}"
								alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators"
						role="button" data-slide="prev"> <span
						class="carousel-control-prev-icon" aria-hidden="true"></span> <span
						class="sr-only">Previous</span>
					</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
						role="button" data-slide="next"> <span
						class="carousel-control-next-icon" aria-hidden="true"></span> <span
						class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
