<section th:insert="componentes/plantilla :: plantilla">
    <title th:fragment="titulo">Nueva Compra</title>
    <div class="container" th:fragment="content">
        <div class="container">
            <h1 class="text-center mt-2" style="color: black"><strong>Nueva Compra</strong></h1>

            <div class="form-group row" style="margin-left: 28%;">
                <label for="inputName" class="col-form-label" style="color: black;"><strong>Fecha: </strong>
                </label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name="fecha" id="fecha">
                </div>

                <div class="form-group row" style="margin-left: 8%;">
                    <label for="inputName" class="col-form-label" style="color: black;"><strong>N°</strong>
                    </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="numeroFactura" id="text">
                    </div>
                </div>
            </div>

            <div class="form-group row" style="margin-left: 23%;">
                <label for="inputName" class="col-form-label" style="color: black;"><strong>Tipo : </strong>
                </label>
                <div class="col-sm-3">
                    <select id="tipoVenta" class="form-control">
                        <option value="Gravadas">Gravadas</option>
                        <option value="No Sujetas">No Sujetas</option>
                        <option value="Exentas">Exentas</option>
                    </select>
                </div>
                <div class="form-group row" style="margin-left: 4%;">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="proveedor" id="proveedor" readonly="readonly"
                            placeholder="Proveedor">
                    </div>
                    <button id="buscarProveedor" type="button" class="btn btn-primary">
                        <i class="fas fa-search-plus"></i> Buscar
                    </button>

                </div>
            </div>
            <hr>
            <h3 class="text-center" style="color: black"><strong>Detalles de la compra</strong></h3>
            <div class="form-group row" style="margin-left: 3%;">
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad">
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="precioCompra" id="precioCompra"
                        placeholder="Precio">
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="descuento" id="descuento" placeholder="Descuento %">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="producto" readonly="readonly" placeholder="Producto">
                </div>
                <button type="button" id="buscarProducto" class="btn btn-primary">
                    <i class="fas fa-search-plus"></i> Buscar
                </button>
                <button name="agregarProducto" id="agregarDetalle" class="btn btn-success ml-1 " type="button"><i
                        class="fas fa-plus"></i> Agregar</button>
            </div>
            <div>
                <table class="table border" style="color: black; text-align: center;" id="tabla">
                    <thead class="bg-primary" style="color: white;">
                        <tr>
                            <th>
                                <h5>CANTIDAD</h5>

                            </th>
                            <th>
                                <h5>PRODUCTO</h5>

                            </th>
                            <th>
                                <h5>PRECIO</h5>

                            </th>
                            <th>
                                <h5>DESCUENTO</h5>

                            </th>
                            <th>
                                <h5>OPERACION</h5>

                            </th>
                        </tr>
                    </thead>
                    <tbody style="color: black;">

                    </tbody>

                </table>
            </div>
            <div style="margin-left: 133px;">
                <label style="margin-left: 710px;  margin-top: 14px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">Total compra:</h5>
                </label>
                <div style="margin-left: 735px;margin-top:-45px;" class="col-sm-2">
                    <input style="margin-left: 76%;" type="text" class="form-control" name="totalCompra"
                        id="totalCompra" readonly="readonly">
                </div>
            </div>
            <div class="text-center form-group mt-4">
                <button type="button" class="btn btn-success" id="guardarCompra">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a name="cancelar" id="cancelar" class="btn btn-danger" href="#" role="button"><i
                        class="fas fa-window-close"></i> Cancelar</a>
            </div>

            <div class="modal mt-5" id="modalProveedor">
                <section th:insert="vistas/Compras/modals :: modalProveedor"></section>
            </div>

            <div class="modal mt-5" id="modalProductos">
                <section th:insert="vistas/Compras/modals :: modalProductos"></section>
            </div>
            <script type="text/javascript" th:src="@{/ajax/compraApi.js}"></script>
        </div>
</section>